/*******************/
/* NAVIGATION */
/*******************/

.main-nav-list li:first-child .main-nav-link {
  color: #cf711f;
}

/*******************/
/* HERO */
/*******************/

.about-us-section-hero {
  height: 45vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(../img/about-us-page/pexels-rquiros-2219024.jpg);
  background-size: cover;
  background-position: 50% 45%;
  background-color: #222; /* Fallback color */
  color: #fff;
}

.about-us-hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}

.about-us-hero h1 {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2.2rem;
}

.about-us-hero h1:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #cf711f;
}

/*******************/
/* ABOUT US */
/*******************/

.about-us-grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.about-us-title span {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  margin-bottom: 0.7rem;
  text-transform: uppercase;
  padding-left: 40px;
  letter-spacing: 2px;
  color: #cf711f;
  box-sizing: border-box;
}

.about-us-title span::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 0px;
  top: 1.1rem;
  background: #cf711f;
}

/*******************/
/* WHAT WE DO  */
/*******************/

.about-us-grid--2 {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}
