/*******************/
/* HEADER */
/*******************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  /* background-color: #000; */
  /* background-color: #fdf2e9; */
  background-color: #fff;
  /* Need height so header can be sticky */
  /* height: 8rem; */
  height: 6.5rem;
  padding: 0 4.8rem;
}

.logo {
  /* height: 4.4rem; */
  height: 6.2rem;
}

/*******************/
/* NAVIGATON */
/*******************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.nav-divider {
  width: 200px;
  max-width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #adb5bd;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

/*******************/
/* HERO SECTION */
/*******************/
.section-hero {
  /* height: 100vh; */
  height: calc(100vh - 6.5rem); /* accounts for nav height */
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(../img/hero-img.jpg);
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: 45% 45%;
  color: #fff;
}

.hero {
  max-width: 80rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(-50%, -56%); */
  text-align: center;
}

.heading-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.number {
  font-size: 2.6rem;
  margin-bottom: 3.2rem;
  font-weight: 500;
  padding: 1.6rem 0;
}

/*************************/
/* ABOUT US SECTION */
/*************************/

.about-us {
  padding: 9.6rem 0;
  /* padding: 9.6rem 0 0 0; */
  /* background-color: hsl(31.03deg 58% 80.39%); */
}

/* .about-us div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
} */

.about-us div .heading-secondary {
  margin-bottom: 0;
}

.about-us-img-box {
  display: flex;
  justify-content: center;
}

.about-us-img {
  width: 30%;
  padding: 9.6rem 0;
}

.about-us-paragraph {
  font-size: 2rem;
  line-height: 1.6;
  color: #222;
  margin: 4.8rem 0;
  /* margin-bottom: 0; */
}

/*section {
  padding: 9.6rem 0;
  /* background-color: #f7f7f7; 
  /* background-color: #e9f3fd; 
  /* background-color: #fdf2e9; 
}*/

/*************************/
/* SERVICES SECTION */
/*************************/

.services {
  padding: 9.6rem 0;
  /* background-color: #ebebeb; */
  background-color: #818181;
  /* background-color: hsl(31.03deg 58% 80.39%); */
}

.services h2 {
  color: #fff;
}

.service-box {
  /* background-color: white; */
  background-color: #dadada;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /* removes whatever is ontop of the rounded corners */
  overflow: hidden;

  /* ADDING TO TRY TO FIX UNALIGNMENT ISSUE  */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure the content is spaced evenly */

  transition: all 0.4s;
}

.service-box:hover {
  transform: translate(0, -1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.006);
}

.service-text-box {
  /* padding: 0 3.2rem; */
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  padding: 1.6rem 3.2rem;
  flex-grow: 1;
}

.box-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  /* margin-bottom: 3.2rem; */
  margin-bottom: 1.8rem;
  color: hsl(31, 80%, 58%);
  color: #e67e22;
}

.section-description {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #666;
}

.service-img-box {
  max-height: 20rem;
}

.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*************************/
/* CTA SECTION */
/*************************/

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  /* height: 65rem; */
}

.cta .cta-left-box,
.cta .cta-right-box {
  padding: 6.4rem 1.2rem;
}

.cta-title {
  color: hsl(31, 80%, 58%);
  color: #454545;
  font-size: 4.4rem;
  line-height: 1.2;
}

.cta-text-box {
  padding: 4.8rem;
}

.cta-text {
  padding: 1.2rem 0 2.4rem 0;
}

.contact-infos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.contact-info {
  font-size: 1.8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.cta-icon {
  color: #fff;
  background-color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
  padding: 0.6rem;
  border-radius: 50%;
}

.socials-links {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
}

.socials-icon {
  color: #e67e22;
  /* color: #818181; */
  /* color: #454545; */
  background-color: #fff;
  height: 3.4rem;
  width: 3.4rem;
  padding: 0.6rem;
  border-radius: 50%;
}

.cta-right-box {
  /* background-image: linear-gradient(to right bottom, #eb984e, #e67e22); */
  background-image: linear-gradient(to right bottom, #454545, #313131);
}

.cta-content-box {
  padding: 6.4rem 5rem;
  /* padding: 4.8rem 5rem; */
}

.cta-content-box h2 {
  color: #fff;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-family: inherit;
  color: #fff;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form .btn {
  margin-top: 1.2rem;
  max-width: 45%;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
